#concept_title {
    display: flex;
}
.concept_top {
    display: flex;
}

.concept_text {
    margin-top: 120px;
    // margin-left: 183px;
    h2 {
        font-size: 50px;
        font-weight: normal;
    }
    p {
        font-size: 60px;
        font-family: 'brush-script-std';
        font-style: italic;
        color: #b9bbd0;
        padding-top: 10px;
    }
}
.concept_desc {
    font-size: 15px;
    line-height: 1.66;
    padding-top: 60px;
    padding-bottom: 125px;
    max-width: 1000px;
    margin: 0 auto;
}
.concept_left {
    max-width: 1000px;
    margin: 0 auto;
}
.sky_base {
   margin-top: -5px;
   width: 30%;
//    縦幅を画面いっぱいにしたい
}
.concept_sky {
    display: flex;
    justify-content: flex-end;
    h3 {
        font-size: 17px;
    }
    p {
        font-size: 15px;
        line-height: 1.66;
        width: 50%;
    }
}
.sky_img {
    width: 30%;
}
