$main-color: #fffddf;

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

.header_logo {
    width: 120px;
    position: absolute;
    top: 12px;
    left: 5%;
}

.top_menu_pc {
    color: $main-color;
    position: absolute;
    top: 50px;
    right: 5%;
ul {
    display: flex;
}
}
