@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #4f260b;
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
        "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
        "ＭＳ 明朝", serif;
}

html {
    scroll-behavior: smooth;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.5;
    /* aと:の間にスペースが入ってしまっていたので気をつける */
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}
body {
    font-feature-settings: "palt";
}

/* ヘッダー */
body {
    background: gray;
}

.header_slider_sp {
    display: none;
}

.header_wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 7% 0 3%;
}
.header_logo {
    width: 226px;
}

@media screen and (max-width: 767px) {
    .header_logo {
        width: 188px;
    }
}

.pc_nav ul {
    display: flex;
}

.pc_nav ul li {
    width: 105px;
    margin-left: 55px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    text-align: center;
}

/* スマホ版メニューは消す */
.sp_btn,
.sp_nav {
    display: none;
    /* PC版の時には表示されない指定 */
}

@media screen and (max-width: 1100px) {
    .pc_nav {
        display: none;
        /* SP版の時には表示されない指定 */
    }

    /* ハンバーガーメニュー */
    .sp_btn {
        position: absolute;
        top: 20px;
        right: 25px;
        display: block;
        height: 23px;
        cursor: pointer;
        z-index: 2;
    }
    .sp_btn span {
        position: relative;
        top: 10px;
        display: block;
        width: 33px;
        height: 3px;
        border-radius: 2px;
        background: #fff;
        transition: 0.3s;
        /* 何秒かけて動くか */
    }

    .sp_btn span::before,
    .sp_btn span::after {
        position: absolute;
        content: "";
        display: block;
        width: 33px;
        height: 3px;
        border-radius: 2px;
        background: #fff;
        transition: 0.3s;
    }
    .sp_btn span::before {
        bottom: 10px;
    }
    .sp_btn span::after {
        top: 10px;
    }

    /* ハンバーガーメニュー閉じる */
    .sp_btn.open span {
        /* スペースを開けずに2つクラスが続くときは、
        この2つのクラスの両方があるとき、という限定 */
        background: transparent;
        /* 真ん中の線を透明にする */
    }
    /* 3本線を角度を変えることでバツに見えるようにする */
    .sp_btn.open span::before {
        bottom: 0;
        /* 位置を基準値に戻す */
        transform: rotate(45deg);
        /* 回転させる */
    }
    .sp_btn.open span::after {
        top: 0;
        transform: rotate(135deg);
    }

    /* ハンバーガーメニュー */
    .sp_nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        /* デバイスの高さによる
        100％だとheader_wrap（親要素）の高さ分にしかならない */
        background: rgba(0, 0, 0, 0.8);
        z-index: 1;
        /* 重なり順の指定 要素の多いサイトだと大きな数字を使うことが多い */
    }
    .sp_nav ul {
        display: flex;
        flex-direction: column;
        /* フレックスの方向 縦並びになる */
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .sp_nav ul li {
        padding: 20px;
        color: #fff;
        font-size: 18px;
        font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic",
            "メイリオ", "Hiragino Kaku Gothic ProN";
    }
}
.slick-dots {
    bottom: 20px;
}
/* スライダーの点の位置を画像の下から内部へ */
.slick-dots li.slick-active button:before,
.slick-dots li button:before {
    color: #fff;
}
/* スライダーの1つ目の点の色を変更 */
.slick-dotted.slick-slider {
    margin-bottom: 0;
}
/* 画像の下にできてしまっている余白を消す */

body {
    background-color: #e8d9bf;
}

.top {
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
    padding: 0 10px 0 10px;
}
/* このpaddingを入れるとtop全体の横幅が1020pxになってしまう：それでも良い
paddingは外側がデフォルト 内側に変えることもできる*/

/* .top p {
    padding: 0 10px 0 10px;
} */

.top_en {
    font-size: 30px;
    line-height: 0.7;
    margin-top: 104px;
    margin-bottom: 57px;
}

.top_main {
    font-size: 82px;
    line-height: 1.17;
    letter-spacing: 0.1em;
    margin-bottom: 18px;
}

.top_desc {
    font-size: 23px;
    line-height: 1.65;
    letter-spacing: 0.1em;
    margin-bottom: 98px;
}
.br_sp_only {
    display: none;
}

@media screen and (max-width: 1100px) {
    .top_en {
        font-size: 22px;
        margin-top: 41px;
        margin-bottom: 25px;
    }
    .top_main {
        font-size: 60px;
    }
    .top_desc {
        font-size: 17px;
        margin-bottom: 65px;
    }
}

@media screen and (max-width: 767px) {
    .top {
        padding: 0;
    }
    .top_en {
        font-size: 17px;
    }
    .top_main {
        font-size: 38px;
        line-height: 1.16;
        letter-spacing: 0.02em;
    }
    .top_desc {
        font-size: 16px;
        line-height: 1.9;
        letter-spacing: 0.1em;
    }
    /* 改行位置がうまくいかない… */
    .br_sp_only {
        display: block;
    }
}

#about {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px 0 10px;
    /* paddingをまとめて入れる */
}

.photo_coffee_sp {
    display: none;
}

.photo_coffee_pc img {
    border-bottom-right-radius: 80px;
}
/* 写真の縦横比を崩さないようdivで囲い、角丸を別でかけようとした */

.photo_coffee_pc {
    /* width: 500px; px指定だと縮めていくと画像のみになってしまう*/
    width: 50%;
    /* ％で指定する時はmax-widthではなくwidthで問題ない */
    /* padding-left: 10px; */
    border-bottom-right-radius: 80px;
    /* 縮めていくと画像が伸びてしまう:divで囲む */
    box-sizing: border-box;
    /* paddingを内側につける */
}

.about_text {
    /* padding-right: 10px; */
    width: 50%;
    box-sizing: border-box;
    /* max-width: 48%; */
    /* どのように数値を設定するのかわからず目視でいい感じになるようにやってしまった：イラレの数値だとうまくいかない
    コピーと下の説明文の右端が揃ってしまった 下の説明文は48％くらいがちょうど良い */
}

.about_text h2 {
    width: 272px;
    padding: 55px 0 48px 74px;
    /* 親要素に％を指定したがこちらでpxで指定しているからなのか縮めていくときれてしまう：スマホ版の範疇なので気にしなくて良い */
}

.about_main {
    font-size: 44px;
    line-height: 1.39;
    padding: 0 0 24px 74px;
    /* フォントが見本と異なる気がする:h3にしていたから */
    /* 縮めていくと改行位置がおかしくなるのを変えたい：メニューと同じように％にする？
    about_textに％を指定 */
}

.about_desc {
    font-size: 16px;
    line-height: 1.62;
    padding-left: 74px;
    text-align: justify;
    /* 文章を両端揃えにする */
    /* 位置が上手くいっていない */
}

@media screen and (max-width: 1100px) {
    .about_text h2 {
        width: 199px;
    }
    .about_main {
        font-size: 32px;
    }
    .about_desc {
        font-size: 13px;
    }
}

@media screen and (max-width: 767px) {
    #about {
        display: block;
        padding: 0;
    }
    .about_text {
        margin: 0 auto;
        width: 100%;
    }
    .photo_coffee_pc {
        display: none;
    }
    .photo_coffee_sp {
        display: block;
        width: 100%;
    }
    /* 見出しとの順番を入れ替えられずpictureタグを使えない */
    .about_text h2 {
        padding: 0 20px 18px 20px;
        width: 160px;
        margin: 0 auto;
        /* こちらにも指定しないと要素が左揃えの状態で真ん中に行くだけ */
    }
    .about_main {
        font-size: 36px;
        line-height: 1.25;
        padding: 35px 20px 20px 20px;
    }
    .about_desc {
        padding: 0 20px 0 20px;
        font-size: 16px;
        line-height: 1.75;
    }
}

#menu {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px 0 10px;
}

.menu_text {
    display: block;
    width: 151px;
    margin: 0 auto;
    /* 調べたらブロック要素でないと margin:0 auto; が適用されないため、
    インライン要素は「text-align: center;」で指定するとあったが、
    text-align が適用されない:解釈間違っている？ */
    /* text-align:center;が適用されるのは青い範囲（青い部分が横幅いっぱいだったら発揮される）
    H2に指定すると適用される */
    /* display:block→margin 0 auto の二段構えでないといけないのか：◯ */
    padding-top: 105px;
    padding-bottom: 50px;
}

.menu_list {
    display: flex;
    justify-content: space-between;
    /* padding: 0 10px 0 10px; */
}

.menu_list img {
    /* width: 300px; %で指定するのでいらない */
    border-top-right-radius: 43px;
}

.menu_list h3 {
    font-size: 38px;
    line-height: 0.6;
    color: #d30202;
    padding-left: 12px;
    padding-bottom: 20px;
    font-weight: normal;
    /* フォントが見本と異なる（見本よりも太い）気がする：見出しにすると太くなるのでfont-weightを指定する */
}

.menu_list p {
    font-size: 17px;
    line-height: 1.5;
    /* white-space: nowrap; */
    /* 自動改行を防ぐコード */
    /* foodのテキストが横幅に収まっていない フォントの問題？：単純に他の2つと文字数が異なるから */
    /* 画面を縮めていくと文章が重なってしまう：white-spaceのせい これはいらない、brタグを使わず横幅だけ％で指定する */
}

.menu_item {
    width: 30%;
}

/* .menu_food {
    width: 30%;
}

.menu_sweets {
    width: 30%;
} */

@media screen and (max-width: 767px) {
    #menu {
        padding: 0 38px;
    }
    .menu_text {
        width: 88px;
        padding-top: 55px;
        padding-bottom: 20px;
    }
    .menu_list {
        display: block;
    }
    .menu_item {
        width: 100%;
    }
    .menu_list h3 {
        font-size: 40px;
        line-height: 0.55;
        padding-bottom: 30px;
    }
    .menu_list img {
        width: 100%;
        margin: 0 auto;
    }
    .menu_list p {
        padding-bottom: 60px;
    }
}

#gallery {
    position: relative;
}

.gallery_text {
    width: 245px;
    display: block;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 27px;
}

.gallery_photo {
    display: flex;
    /* width: 20%; */
    /* width: 384px; */
}
/* .gallery_photo_sp {
    display: none;
} */

.gallery_pc_only {
    width: 20%;
}
.gallery_photo_main {
    width: 20%;
}

.gallery_arrow_right {
    width: 15px;
    height: 15px;
    border-top: 4px solid #fff;
    border-right: 4px solid #fff;
    transform: rotate(45deg);
    position: absolute;
    z-index: 100;
    right: 25%;
    top: 75%;
}
.gallery_arrow_left {
    width: 15px;
    height: 15px;
    border-bottom: 4px solid #fff;
    border-left: 4px solid #fff;
    transform: rotate(45deg);
    position: absolute;
    z-index: 100;
    left: 25%;
    top: 75%;
}
.lb_data .lb-nunber {
    display: none !important;
}

@media screen and (max-width: 767px) {
    .gallery_text {
        width: 142px;
        padding-top: 30px;
        padding-bottom: 20px;
    }
    /* .gallery_photo_pc {
        display: none;
    } */
    /* .gallery_photo_sp {
        display: block;
        /* width: 100%; これが適用されないのはなぜ？*/
    /* } */
    /* .gallery_photo_sp img {
        width: 100%;
    } */

    /* .gallery_pc_only {
        display: none;
    } */
    .gallery_photo_main {
        width: 100%;
    }
    .gallery_pc_only img {
        width: 100%;
    }
    .gallery_photo_main img {
        width: 100%;
    }
    /* 親要素を広げてからでないと横幅いっぱいの指定ができない（？） */
    .gallery_arrow_right {
        width: 12px;
        height: 12px;
        border-top: 3px solid #fff;
        border-right: 3px solid #fff;
        right: 10%;
        top: 60%;
    }
    .gallery_arrow_left {
        width: 12px;
        height: 12px;
        border-bottom: 3px solid #fff;
        border-left: 3px solid #fff;
        left: 10%;
        top: 60%;
    }
}

#event {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}

#event img {
    display: block;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 40px;
    width: 174px;
}

.event_list {
    border: 3.7px solid #4f260b;
    background-color: #fff;
    max-width: 1000px;
    /* padding-bottom: 17px; */
    /* 画面を縮めていくと切れてしまうので縮小されていく方法を探す：max-width にしてheightを消す
    縦の余白はpaddingで調整 */
}

.event_list ul {
    font-size: 23px;
    width: fit-content;
    /* 最長の箇条書きに文頭を合わせて中央寄せにする */
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.event_list li {
    /* padding-bottom: 26px; */
    text-decoration: underline;
}

.event_list li + li {
    padding-top: 26px;
    /* 隣接セレクタ 今まではevent_list/li/ulのそれぞれにpaddingをかけて調節していたが
    ulとこれだけで調節できる */
}

.event_list time {
    padding-right: 55px;
    display: inline-block;
    /* text-decoration: none; では消せない */
}
.event_br {
    display: none;
}

@media screen and (max-width: 767px) {
    #event {
        padding: 0 20px;
    }
    #event img {
        width: 100px;
        padding: 32px 0 20px 0;
    }
    .event_br {
        display: block;
    }
    .event_list {
        padding: 0 30px;
    }
    .event_list ul {
        font-size: 16px;
        padding-top: 20px;
        padding-bottom: 18px;
    }
    .event_list li {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        /* 何行表示させるかの指定 text-overflow: ellipsis; は1行のみの時に使える*/
    }
}

#access img {
    width: 214px;
    padding-top: 78px;
    padding-bottom: 43px;
    display: block;
    margin: 0 auto;
}

#access iframe {
    display: block;
    /* margin: 0 auto; */
    width: 100%;
    height: 470px;
}

@media screen and (max-width: 767px) {
    #access img {
        width: 124px;
        padding-top: 32px;
        padding-bottom: 10px;
    }
    #access iframe {
        height: 191px;
    }
}

.footer {
    background-color: #fff;
    /* TOPへボタンを設置するためmax-width:1000px;は書かない:設定すると白地が切れてしまう */
}

.footer_logo {
    width: 227px;
    padding-top: 82px;
    padding-right: 70px;
}

.footer_domain {
    max-width: 1000px;
    display: flex;
    margin: 0 auto;
    /* justify-content: center; */
    /* 横並びの上部を揃えたい */
}

.footer_text {
    padding-top: 86px;
    padding-bottom: 80px;
    color: black;
    font-size: 20px;
    line-height: 1.95;
    /* 親要素のfooterが真ん中になっていない（全幅）ため中央に表示できない:margin 0 autoでできる */
}

.footer_company {
    color: black;
    font-size: 16px;
    text-align: center;
    padding-bottom: 80px;
}

.to_top {
    width: 125px;
    position: fixed;
    bottom: 40px;
    right: 40px;
}

@media screen and (max-width: 767px) {
    .footer {
        padding-left: 20px;
        padding-right: 20px;
    }
    .footer_logo {
        padding-top: 40px;
    }
    .footer_domain {
        display: block;
    }
    .footer_text {
        font-size: 18px;
        line-height: 1.72;
        padding-top: 30px;
        padding-bottom: 48px;
    }
    .footer_company {
        padding-bottom: 30px;
    }
    .to_top {
        width: 100px;
        bottom: 50px;
        right: 10px;
    }
}

/* どれを見出しとしたら良いのかわからずsectionをうまく使えない */
