#profile_title {
  max-width: 1000px;
  margin: 0 auto;
}

.profile_top {
  display: flex;
}

.profile_text {
  margin-top: 120px;
}
.profile_text h2 {
  font-size: 50px;
  font-weight: normal;
}
.profile_text p {
  font-size: 60px;
  font-family: "brush-script-std";
  font-style: italic;
  color: #b9bbd0;
  padding-top: 10px;
}

.profile_clock {
  margin-top: 85px;
  margin-left: 40px;
  width: 170px;
}

#profile_content {
  max-width: 1000px;
  margin: 0 auto;
}

.name {
  display: flex;
  justify-content: space-between;
  margin-top: 115px;
}

.name_head {
  width: 60%;
}
.name_head h3 {
  font-size: 30px;
  font-weight: normal;
}
.name_head p {
  position: relative;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 6px;
}
.name_head p::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -800px;
  display: block;
  width: 1000px;
  height: 1px;
  background: #171c61;
}

.name_job {
  font-size: 17px;
  padding-top: 35px;
}

.name_age {
  padding-top: 16px;
  font-size: 16px;
  line-height: 1.25;
}

.name_text {
  padding-top: 25px;
  font-size: 15px;
  line-height: 1.33;
}

.name_me {
  width: 400px;
  padding-left: 15px;
}

#favorite {
  padding-top: 95px;
  position: relative;
  height: 1000px;
  margin: 0 auto;
}
#favorite h3 {
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 6px;
  margin-bottom: 110px;
  font-weight: normal;
  font-size: 30px;
  position: relative;
}
#favorite h3::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -800px;
  display: block;
  width: 1000px;
  height: 1px;
  background: #171c61;
}

.wave1 img {
  width: 100vw;
  height: auto;
}

.favorite_music {
  padding: 0 5%;
  background-color: #d1dae8;
}

.wave2 img {
  width: 100vw;
  height: auto;
}

.back_music {
  position: absolute;
  top: 30%;
}

.favorite_content {
  display: flex;
  justify-content: left;
  max-width: 1000px;
  margin: 0 auto;
}

.favorite_text {
  width: 50%;
  padding-left: 140px;
}
.favorite_text h4 {
  font-weight: normal;
  font-size: 25px;
  margin: 0;
  padding-bottom: 9px;
}
.favorite_text p {
  font-size: 20px;
  padding-bottom: 45px;
}

.favoreite_violin {
  width: 300px;
}

.music_text {
  font-size: 15px;
  line-height: 1.8;
}

.favorite_content2 {
  display: flex;
  justify-content: left;
  max-width: 1000px;
  margin: 0 auto;
}

.favorite_text2 {
  width: 50%;
  padding-right: 140px;
}
.favorite_text2 h4 {
  font-weight: normal;
  font-size: 25px;
  margin: 0;
  padding-bottom: 9px;
}
.favorite_text2 p {
  font-size: 20px;
  padding-bottom: 45px;
}

.favorite_picture {
  background-color: #d1dae8;
  padding-top: 220px;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.picture_text {
  font-size: 15px;
  line-height: 1.8;
}

.favorite_works {
  width: 300px;
  background: #fffef5;
  z-index: 100;
}

.back_picture {
  position: absolute;
  bottom: 0.1%;
  right: 5%;
}

#about_important {
  max-width: 1000px;
  margin-top: 75px;
}
#about_important h3 {
  font-weight: normal;
  font-size: 30px;
  position: relative;
}
#about_important h3::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -800px;
  display: block;
  width: 1000px;
  height: 1px;
  background: #171c61;
}
#about_important h4 {
  font-size: 20px;
  font-weight: normal;
}
#about_important p {
  font-size: 14px;
  line-height: 1.7;
}

#about_important {
  margin: 0 auto;
  margin-top: 85px;
}

.important_content {
  display: flex;
  justify-content: space-between;
}

.about_message {
  font-size: 14px;
  line-height: 1.57;
  text-align: center;
  margin-top: 140px;
  margin-bottom: 80px;
}/*# sourceMappingURL=style.css.map */