#contact_title {
    max-width: 1000px;
    margin: 0 auto;
}
.contact_top {
    display: flex;
}
.contact_text {
    margin-top: 120px;
    h2 {
        font-size: 50px;
        font-weight: normal;
    }
    p {
        font-size: 60px;
        font-family: 'brush-script-std';
        font-style: italic;
        color: #b9bbd0;
        padding-top: 10px;
    }
}
.contact_clock {
    margin-top: 85px;
    margin-left: 40px;
    width: 170px;
}